





/*=============================================
			Theme Counter Color
=============================================*/
.tg-drama .tg-collectioncountericon{background: #93648d;}
.tg-drama h2,
.tg-devlivery .tg-clientserviceicon i{color: #93648d;}
.tg-horror .tg-collectioncountericon,
.tg-widget ul li:hover:before{background: #4cc3d9;}
.tg-horror h2,
.tg-discount .tg-clientserviceicon i{color: #4cc3d9;}
.tg-romance .tg-collectioncountericon{background: #7bc8a4;}
.tg-romance h2,
.tg-quality .tg-clientserviceicon i{color: #7bc8a4;}
.tg-fashion .tg-collectioncountericon{background: #f16745;}
.tg-fashion h2,
.tg-delevrystock li span em,
.tg-support .tg-clientserviceicon i{color: #f16745;}